.img-container2 img {
    height: 400px;
    width: 400px;
    /* border: 2px solid; */
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .img-container2 img {
        height: 250px;
        width: 300px;
        /* border: 2px solid; */
        border-radius: 0;
    }
}